---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/header/Header";
import AboutMe from "../components/subComponents/aboutMe/About";
import Curriculum from "../components/subComponents/curriculum/Curriculum";
import Hability from "../components/subComponents/hability/Hability";
import Timeline from "../components/subComponents/Timeline/Timeline";
import Projects from "../components/subComponents/projects/Projects";
import Footer from "../components/footer/Footer";
import "../style/global.css";
---

<Layout title="Portafolio Emily 💜" >
  <Navbar client:load />

  <div class="main bg-white"><AboutMe client:load  /><Curriculum client:load />
    <Hability client:load />
    <Timeline client:load /></div>
    <Projects/>
    <Footer/>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background:white;
  }

  layout {
    background:white;
  }
</style>
