/* ScrollAnimation.css */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.15s, transform 0.8s;
  }
  
  .animate-on-scroll.slide-in {
    opacity: 1;
    transform: translateY(0);
  }
  